!!! 5
html
  head
    title fooscore
  body
    div(data-role='page')
      div(data-role='header')
        div(data-role='navbar')
          ul
            li
              a(href='games/new?gameType=singles') Singles
            li
              a(href='games/new?gameType=doubles') Doubles
      div(data-role='content')
        .background-logo
