!!! 5
html
  head
    title fooscore
  body
    div(data-role='page')
      div(data-role='header')
        div(data-role='navbar')
          ul
            li
              a(href='singles') Singles
            li
              a(href='#') Doubles
      div(data-role='content')
        .logo
          .logotext Fooscore
