!!! 5
html
  head
  body
    div(data-role='page')
      div(data-role='header')
        div(data-role='navbar')
          ul
            li
              a(href='/') Home
      div(data-role='content')
        h1 Singles Game
        .redplayer(data-role='fieldcontain')
          label.playerlabel(for='playerName1') Red Player Name:
          input#playerName1(type='text', name='playerName1', value='')
        div(style='text-align: center;') VS
        .blueplayer(data-role='fieldcontain')
          label.playerlabel(for='playerName2') Blue Player Name:
          input#playerName2(type='text', name='playerName2', value='')
        a(href='#', data-role='button') Start
