.ui-content {
    padding: 5px;
}

h1 {
    text-align: center;
}

.logo {
    background-image: url("../images/logo.jpg");
    width: 200px;
    height: 183px;
    margin: 70px auto;
}

.logotext {
    text-align: center;
    position: relative;
    top: 9px;
    font-size: 42px;
    color: green;
}

.playerName1 {
    background-color: red;
    padding: 10px;
    margin: 5px;
}

.playerName2 {
    background-color: blue;
    padding: 10px;
    margin: 5px;
}

.playerlabel {
    color: white;
}

.scoreName1,
.scoreName2,
.scoreNumber {
    text-align: center;
    padding: 10px;
    margin: 5px;
}

.scoreName1 {
    background-color: red;
    color: white;
}

.scoreName2 {
    background-color: blue;
    color: white;
}

.center-button {
    margin: 0 auto;
}